{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-info">Los Nuevos Pythoneers</h1>
    <p>Este blog de noticias fue el proyecto final de la Etapa 2 del Informatorio</p>
    <div class="d-flex justify-content-around mt-5">
       <section class="d-flex flex-column">
        <p>Los nuevos Pythoneers está conformado por:</p>
        <ul>
                      
            <li class="list-group-item my-4">
                <h4>Néstor Gustavo Palacios Meyer</h4>
                <img src="{% static '../media/src/gustavo.jpg' %}" alt="about" width="300px">
            </li>
         
            <li class="list-group-item my-4">
                <h4>Federico Julio Bazan</h4>
                <img src="{% static '../media/src/fede.jpg' %}" alt="about" width="300px">
            </li>
            <li class="list-group-item my-4">
                <h4>Daira Cuquejo</h4>
                <img src="{% static '../media/src/daira.jpeg' %}" alt="about" width="300px">
            </li>
            
        </ul>
       </section>
       <section>
        <div class="d-flex justify-content-around mt-5">
           
       
        </div>
      
       </section>
    </div>

</div>
{% endblock %}
