
<footer id="footer" class="container-fluid">
    <div class="d-flex justify-content-around align-items-center">
        <span class="text-center">&copy; 2023 Pythoneers. Todos los derechos reservados.</span>
        <div class="d-flex align-items-center">
            <span class="me-3">Nuestras redes</span>
           
            <div class="d-flex gap-3">
                <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                <a href="https://www.twitter.com/" target="_blank">Twitter</a>
            </div>
        </div>
    </div>
</footer>