{% extends 'base.html' %}
{% block title %}Cambiar contraseña{% endblock title %}
{% load static %}
{% block content %}

        <div class="d-flex flex-column justify-content-center align-content-center">

                <form method="POST" class="d-flex flex-column align-content-center px-3 pb-4 pt-5 form-control border-info shadow">
                    <h3 class=" mt-2">Cambiar Contraseña</h3>
                    {% csrf_token %}
                    {% comment %} contraseña vieja {% endcomment %}
                    <div class="mt-4 mb-2" >
                        <label for="{{form.old_password.id_for_label}}">{{form.old_password.label}}</label>
                        <input class="form-control" type="text" name="{{form.old_password.html_name}}" id="{{form.old_password.id_for_label}}">
                        {% for error in form.old_password.errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                      </div>
                      {% comment %} contraseña nueva {% endcomment %}
                    <div class="mt-2 mb-4">
                        <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}</label>
                        <input class="form-control" type="text" name="{{form.new_password1.html_name}}" id="{{form.new_password1.id_for_label}}">
                        {% for error in form.new_password1.errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% comment %} cancelar o confirmar contraseña {% endcomment %}
                    <div class="text-center my-3 d-flex justify-content-between">
                        <a href="{% url 'index' %}" class="btn btn-outline-info m-2">Cancelar</a>
                        <input class="btn btn-outline-info m-2" type="submit" value="Confirmar">
                    </div>
                </form>
                 
        </div>

{%endblock content%}